.about {
  margin: 50px 0;
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    &--general {
      h3 {
        @include h3;
      }
      p {
        @include p;
        line-height: 2em;
      }

      .connect {
        display: flex;
        flex-direction: row;
        align-items: center;

        h5 {
          color: var(--tertiary-text);
        }

        .links {
          margin-left: 10px;
        }
      }
    }

    &--profile-image {
      .image-container {
        position: relative;
        width: 400px;
        height: 400px;
        img {
          position: absolute;
          bottom: -10px;
          border-bottom-left-radius: $border-radius-lg;
          border-bottom-right-radius: $border-radius-lg;
          z-index: -1;
          width: 400px;
          height: 550px;
        }
        .bg-box {
          position: absolute;
          bottom: -10px;
          width: 400px;
          height: 250px;
          background: $brand-gradient;
          border-radius: $border-radius-lg;
          z-index: -2;
        }
      }
    }
  }

  &__skills {
    margin: 50px 0;
    h5 {
      @include h5;
    }

    &--container {
      ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 16px;
        padding: 0;

        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 5px 0;
          span {
            color: var(--secondary-text);
            font-size: $paragraph;
          }
        }
      }
    }
  }

  &__work-exp {
    p {
      @include p;
      line-height: 2em;
    }
  }
}
