.blog {
  width: 90%;
  margin: 75px auto;

  &__container {
    &--title {
      h3 {
        font-family: 'Montserrat-Bold-H3';
        font-size: $header-three;
        line-height: $line-height;
        margin: 15px 0;

        @include big-screen {
          margin: 0;
        }
      }
    }

    &--published {
      display: flex;
      flex-direction: row;
      align-items: center;
      .published-author {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        p {
          color: $brand;
          font-family: 'Montserrat-Medium-H4';
          font-size: $text-small;
          margin-left: 10px;
          letter-spacing: 0.5px;
        }
      }

      .published-on {
        margin-left: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        span {
          color: var(--secondary-text);
          font-size: $text-small;
        }
        h4 {
          color: var(--primary-text);
          font-family: 'Montserrat-Medium-H4';
          font-size: $text-small;
          margin-left: 5px;
        }
      }
    }

    &--content {
      margin: 50px 0;

      p {
        @include p;
        line-height: 2em;
      }

      h1 {
        @include h1;
      }

      h2 {
        @include h2;
      }

      h3 {
        @include h3;
      }

      h4 {
        @include h4;
      }

      h5 {
        @include h5;
      }

      img {
        object-fit: contain;
        width: 100%;
        margin: 10px 0;
      }

      ol {
        li {
          list-style: decimal;
          font-size: $paragraph;
          color: var(--secondary-text);
          line-height: 1.8em;
        }
        p {
          font-size: $paragraph;
          color: var(--primary-text);
          line-height: 1.8em;
        }
      }

      .inline-code {
        padding: 5px;
        border-radius: 2px;
        color: var(--primary-text);
        background: var(--code-background);
        font-family: monospace;
        opacity: 0.8;
      }

      blockquote {
        border-left: 5px solid royalblue;
        margin: 0;
        p {
          padding: 5px 20px;
          font-style: italic;
          color: var(--secondary-text);
        }
      }
    }
  }
}
