:root {
    --black: #152129;
    --black-alt: #1a2933;
    --primary-text: #f7f7f7;
    --secondary-text: #e7e7e7;
    --primary: #51E69E;
    --secondary: #585858;
    --gray: #979797;
    --blue: #1F64B6;
    --gray-light: #BEBEBE;
}