<section id="connect">
    <div class="flex flex-col gap-4">
        <h1 class="text-3xl text-primary-200 font-bold">What are you working on ?</h1>
        <p class="text-base text-tertiary-200 font-light">I'm excited to engage in a meaningful conversation with you! It would be wonderful to delve into the details of what you're currently working on and explore potential avenues for collaboration. I genuinely believe that by exchanging ideas and perspectives, we can discover synergies and create opportunities to work together towards shared goals or projects. So, please share your thoughts, aspirations, or any specific areas of interest, and let's explore how we can collaborate </p>
        <button class="bg-primary-200 text-black font-medium w-fit h-10 rounded my-4 flex flex-row gap-2 items-center p-4 hover:bg-primary-300">
            <img src="/Chat.svg" alt="Chat" />
            <p>Let’s chat</p>

        </button>
    </div>
</section>