.site-banner {    
    margin: 75px 0;

    @media (min-width: $layout-bp-small) {
        flex-direction: row;
    }
    &__hero-info {
        h1 {
            color: $secondary;
            width: 80%;
            font-size: 4.5em;
            @media (min-width: $layout-bp-small) {
                font-size: 6em;
            }
            line-height: 1.2em;
        }
        p {
            color: $secondary;
            font-size: 1.4em;
            line-height: 1.6em;
            opacity: 0.8;
            margin: 15px 0;
        }
    }
    &__divider {
        height: 3px;
        background-color: $background_two;
        opacity: 0.6;
        border-radius: 2px;
        width: 95%;
        margin: 0 auto;
        margin-top: 65px;
    }
}