.site-blogs {
  margin-top: 150px;
  &__archive {
    display: inline-block;
    &--link {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      h5 {
        @include h5;
        color: var(--primary-text);
        margin-right: 5px;
      }
    }
  }
}
