.blog-card {
  margin: 20px 0;
  cursor: pointer;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    &--preview {
      img {
        width: 240px;
        height: 100% !important;
        object-fit: cover;

        border-top-left-radius: $border-radius-md;
        border-bottom-left-radius: $border-radius-md;
      }
    }

    &--content {
      padding: 5px 20px;
      &-title {
        h4 {
          @include h4;
          margin: 0;
          font-weight: $bold-weight;
          color: var(--primary-text);
        }
      }

      &-published {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .published-author {
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }

          p {
            @include p;
            margin: 0;
            margin-left: 10px;
            color: var(--secondary-text);
            font-weight: $medium-weight;
          }
        }
        .published-on {
          margin-left: 50px;
          display: flex;
          flex-direction: row;
          align-items: center;

          span {
            font-size: 12px;
            margin: 0;
            margin-left: 10px;
            color: var(--secondary-text);
            font-weight: $medium-weight;
          }

          p {
            @include p;
            margin: 0;
            margin-left: 10px;
            color: var(--secondary-text);
            font-weight: $medium-weight;
          }
        }
      }

      &-description {
        p {
          @include p;
          margin: 0;
          margin-top: 20px;
          color: var(--primary-text);
        }
      }
    }
  }
}
