.site-footer {
  margin-top: 30px;
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &--copyright {
      h6 {
        @include h6;
        letter-spacing: 1px;
        color: var(--secondary-text);
      }
    }

    &--social {
      a {
        padding: 0 5px;
      }
    }
  }
}
