.site-header {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &__logo {
    cursor: pointer;
  }

  &__action {
    button {
      cursor: pointer;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      background-color: var(--tertiary-text);
      box-shadow: 0px 0px 2px var(--tertiary-text);
    }
  }
}
