.site-hire {
    margin: 45px 0;
    background: $primary;
    border-radius: 10px;
    padding: 40px;
    
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &--action {
            flex: 2;
            h1 {
                font-size: 3.2em;
                color: $secondary;
                line-height: 1.4em;
            }
            button {
                background: $misc;
                border: none;
                padding: 10px 35px;
                color: $secondary;
                border-radius: 10px;
                margin-top: 15px;
                font-weight: 600;
            }
        }
        &--specialise {
            flex: 1;
            h4 {
                color: $secondary;
                font-size: 1.6em;
            }

            ul {
                padding: 15px 0;
            }

            &-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 5px 0;

                h4 {
                    font-size: 1.2em;
                    font-weight: 600;
                }
            }
        }
    }
}