---
import MySiteLayout from "../layouts/MySiteLayout.astro";
import Article from "../components/Article/Article.astro";
import Connection from "../components/Connection/Connection.astro";

const response = await Astro.glob("./blogs/*.md")
const allPosts = response.map(data => ({
    url: data.url,
    frontmatter: data.frontmatter
}))
const sortedPosts = sortPostsByPublisedDate(allPosts)
const topFourPosts = takeTopFourPosts(sortedPosts);

function sortPostsByPublisedDate(posts) {
    const postsByDateObjects = posts.map(post => ({
        ...post,
        frontmatter: {
            ...post.frontmatter,
            publishedDate: parseDateString(post.frontmatter.published)
        }
    }))    
    postsByDateObjects.sort((prev, curr) => {
        const prevPublishedDate = prev.frontmatter.publishedDate;
        const currPublishedDate = curr.frontmatter.publishedDate;
        return currPublishedDate - prevPublishedDate
    })
    return postsByDateObjects
}

function parseDateString(dateString) {
    return new Date(dateString);
}

function takeTopFourPosts(posts) {
    const topFourPosts = posts.splice(0,4) 
    return topFourPosts
}


---

<MySiteLayout>
    <div class="flex flex-col gap-12 items-center py-36 w-[84%] mx-auto md:flex-row xl:container xl:justify-between xl:w-[60%]">
        <div class="flex flex-col gap-4 md:w-[65%] xl:w-[50%]">         
            <h1 class="text-3xl font-bold text-primary-200">I'm Santhosh Raju, software engineer and tech enthusiasts.</h1>
            <h3 class="text-base text-tertiary-100 font-medium md:font-normal">
                I like to Build, Blog and Share stuff I do everyday. I specialize in building Web Application, Websites & ML applications that scales. I'm minimalistic in communication channels, but I still would like to connect with everyone. Connect with me on LinkedIn, or check my work on Github.
            </h3>
        </div>
        <div class="">
            <img src="/Motto.svg" alt="Motto" class="w-full h-60" />
        </div>
    </div>

    <div class="flex flex-col gap-12 items-center w-[84%] mx-auto xl:container xl:w-[60%]">    
        <div class="w-full flex flex-row items-center  justify-between">            
            <div class="flex flex-row items-center gap-1">
                <img src="/Written-Icon.svg" alt="Written" class="w-5 h-5 md:w-8 md:h-8" />
                <p class="text-xl md:text-3xl font-bold text-tertiary-100">Written blogs</p>
            </div>
            <a href="/blogs" class="text-sm text-tertiary-100 underline">View all blogs</a>
        </div>

        <div class="md:self-start md:w-8/12 flex flex-col gap-8">
            {topFourPosts.map((post) => (
                <Article 
                    title={post.frontmatter.title}
                    synopsis={post.frontmatter.synopsis}
                    publishedDate={post.frontmatter.published}
                    url={post.url}
                />
            ))}
        </div>
    </div>

    <div class="flex flex-col gap-12 items-center py-28 w-[84%] mx-auto xl:container xl:w-[60%]">
        <Connection />
    </div>
</MySiteLayout>