---
import IndexLayout from "../../layouts/IndexLayout.astro";
import Article from "../../components/Article/Article.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("./*.md");
  return paginate(allPosts, { pageSize: 10 });
}

const { page } = Astro.props;
---

<style lang="scss" scoped>
  .Blogs {
    margin: 66px 0;

    &__container {
      width: 100%;

      &--header {
        h1 {
          color: var(--primary);
          font-size: 2rem;
        }
      }

      &--content {
        margin: 14px 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      @media only screen and (min-width: 768px) {
        width: 85%;
      }
    }
  }
</style>

<IndexLayout>
  <div class="Blogs">
    <div class="Blogs__container">
      <div class="Blogs__container--header">
        <h1>All Blogs</h1>
      </div>
      <div class="Blogs__container--content">
        {
          page.data.map((post) => (
            <Article
              title={post.frontmatter.title}
              synopsis={post.frontmatter.synopsis}
              publisedDate={post.frontmatter.published}
              url={post.url}
            />
          ))
        }
      </div>
    </div>
  </div>
</IndexLayout>
