---
import { Icon } from "astro-icon";
---

<style lang="scss" scoped>
  .LetsChat {
    padding: 64px 20px;

    &__container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 28px;

      h1 {
        color: var(--primary);
        font-size: 1.4rem;
        margin: 0;
      }

      p {
        color: var(--secondary-text);
        font-size: 0.9rem;
        font-weight: 200;
        line-height: 150%;
        text-align: center;
        margin: 0;
      }

      a {
        background: var(--primary);
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 70%;
        padding: 10px;
        gap: 8px;

        span {
          color: var(--black);
          font-size: 1.1rem;
          font-weight: 500;
        }

        svg {
          width: 18px;
          height: 18px;
          color: var(--black);
        }
      }

      @media only screen and (min-width: 768px) {
        h1 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;
        }

        a {
          width: 40%;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      padding: 80px 20px;
    }
  }
</style>

<div class="LetsChat">
  <div class="LetsChat__container">
    <h1>What are you working on ?</h1>
    <p>
      I'm excited to engage in a meaningful conversation with you! It would be
      wonderful to delve into the details of what you're currently working on
      and explore potential avenues for collaboration. I genuinely believe that
      by exchanging ideas and perspectives, we can discover synergies and create
      opportunities to work together towards shared goals or projects. So,
      please share your thoughts, aspirations, or any specific areas of
      interest, and let's explore how we can collaborate
    </p>
    <a href="mailto:santhoshraju.ai@gmail.com">
      <span>Let's Chat</span>
      <Icon pack="ri" name="chat-4-line" />
    </a>
  </div>
</div>
