<header class="w-full bg-secondary-200 h-16 fixed">
    <div class="w-11/12 mx-auto flex flex-row items-center justify-between py-4 md:py-3 lg:py-2 xl:container">
        <a href="/">
            <img src="/Logo.svg" alt="Logo" class="w-40 h-[75%] md:w-48 md:h-[80%] lg:w-52 lg:h-[80%]" />
        </a>
        <a href="/portfolio">
            <span class="flex flex-row items-center gap-1">
                <img src="/smiley-happy.svg" alt="Smiley" class="w-5 h-5 md:w-6 md:h-6" />
                <p class="text-tertiary-100 font-medium text-sm md:text-base">My Portfolio</p>
            </span>
        </a>
    </div>
</header>