---
import MySiteLayout from '../../layouts/MySiteLayout.astro';
import Article from "../../components/Article/Article.astro";





export async function getStaticPaths({ paginate }) {

    function parseDateString(dateString) {
        return new Date(dateString);
    }

    function sortPostsByPublisedDate(posts) {
        const postsByDateObjects = posts.map(post => ({
            ...post,
            frontmatter: {
                ...post.frontmatter,
                publishedDate: parseDateString(post.frontmatter.published)
            }
        }))    
        postsByDateObjects.sort((prev, curr) => {
            const prevPublishedDate = prev.frontmatter.publishedDate;
            const currPublishedDate = curr.frontmatter.publishedDate;
            return currPublishedDate - prevPublishedDate
        })
        return postsByDateObjects
    }

    const allPosts = await Astro.glob("./*.md")
    const sortedPosts = sortPostsByPublisedDate(allPosts)
    return paginate(sortedPosts, { pageSize: 10 })
}



const { page } = Astro.props as any;
---

<MySiteLayout>
    <div class="flex flex-col gap-16 items-start py-36 w-[84%] md:w-[60%] md:container mx-auto">
        <div class="flex flex-col gap-6">
            <div class="flex flex-row items-center gap-1">
                <img src="/Written-Icon.svg" alt="Written" class="w-6 h-6 md:w-8 md:h-8" />
                <p class="text-2xl md:text-3xl font-bold text-tertiary-100">Written blogs</p>
            </div>
            <p class="text-base text-tertiary-200">
                Throughout the years, I've endeavored to share the wealth of knowledge and experiences gained from my journey through life via these blogs. Feel free to explore and immerse yourself in them as you see fit, finding inspiration and insights along the way.
            </p>
        </div>
        <div class="md:w-8/12 flex flex-col gap-8">
            {page.data.map((post) => (
                <Article 
                    title={post.frontmatter.title}
                    synopsis={post.frontmatter.synopsis}
                    publishedDate={post.frontmatter.published}
                    url={post.url}
                />
            ))}
        </div>
    </div>
</MySiteLayout>


