:root {
  --black: #152129;
  --black-alt: #1a2933;
  --primary-text: #f7f7f7;
  --secondary-text: #bfbfbf;
  --primary: #51e69e;
  --secondary: #585858;
  --gray: #737373;
  --blue: #1f64b6;
  --gray-light: #bebebe;
  --blue-light: #678193;
}
