// Colors
$background_one: #13293d;
$background_two: #16324f;
$primary: #18435a;
$secondary: #e7ecef;
$misc: #06b2a7;
$code_background: #1d1f21;
$code_text_color: #c5c8c6;

// Breakpoints
$layout_bp_large: 1920px;
$layout_bp_medium: 1440px;
$layout_bp_small: 720px;
$layout_bp_xsmall: 480px;
