// Colors
$background_one: #13293D;
$background_two: #16324F;
$primary: #18435A;
$secondary: #E7ECEF;
$misc: #06B2A7;

// Breakpoints
$layout_bp_large: 1920px;
$layout_bp_medium: 1440px;
$layout_bp_small: 720px;
$layout_bp_xsmall: 480px;

